<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleRegister.css">
    <script type="module" src="/static/js/appRegister.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Register Users </h1> 
    <div> <img src="/static/img/register.png"> </div>    
    <form>
        <label> Name </label> <input /> <br> <br>
        <label> Lastname </label> <input /> <br> <br>
        <label> Identification </label> <input /> <br> <br>
        <label> Birthday </label> <input /> <br> <br>
        <button id="btn-register"> Register </button>
    </form>   
</body>
</html>